header{
    border-style: solid;
    text-align: center; 
    margin-left: -6.5px;
    margin-right:-6.5px;
    margin-top: -6.5px;
    font-size:20px;
    height: 100px;
}
a{
    font-size: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
   
}
a#home{
    margin-left: 1700px;
    margin-right: 15px;
    display: flex;
}
a#contact{
    display: flex;
 
}
a:hover{
    color: white;
    background-color:#E1E1E1;
}
a:visited{
    color: gray;
}

h1{
    text-align: center;
    display: inline;
    position:static;
    z-index: 100;
}
#campoSubs{
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
#campo_email{
    width: 400px;
    height: 40px;
}

#btnSubs{
    width: 100px;
    height: 45px;
}
article{
    border: solid;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    text-align: justify;

}
h3, p{
    margin-left: 2px;
}
footer{
    text-align: center;
    margin-top: 300px;
}
nav{
    display: flex;
}