header{
    border-style: solid;
    text-align: center;
    margin-left: -6.5px;
    margin-right:-6.5px;
    margin-top: -6.5px;
    font-size:20px;
   
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    background-color:#E1E1E1;
}
a:visited{
    background-color: gray;
}
#home{
    float: right;
    position: relative;
    margin-left: 1350px;
    margin-bottom: 100px;
    margin-right: 200px;
    z-index: 1;
}
h1{
    position:static;
    z-index: 100;
}
#campoSubs{
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
#campo_email{
    width: 400px;
    height: 40px;
}

#btnSubs{
    width: 100px;
    height: 45px;
}
article{
    border: solid;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    text-align: justify;

}
h3, p{
    margin-left: 2px;
}
footer{
    text-align: center;
    margin-top: 300px;
}